table{
    border-collapse: collapse;
    background-color: rgb(235, 168, 168);
    font-size: 23px;
}

th, td{
    border: 1px solid rgb(156, 78, 78);
    padding: 8px;
    text-align: center;
}
img {
    border-radius: 8%;
  }
  img {
    border-radius: 30%;
  }
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 800px;
  }
caption{
    font-size: 30px;
    font-weight: bold;
}

.company{
    font-weight:bold
}


th{
    background-color: rgb(189, 79, 79);
}



.row {
    display: flex;
    flex-direction: row;

    border: 1px solid rgb(159, 49, 49);
  }

  .list {
    display: flex;
    padding: 20px;
    box-shadow: 0px 4px 6px; 
    background-color: rgb(240, 114, 114);
  }

  .bean{
    color:rgb(0, 0, 0);
  }
  @media (min-width: 900px) {
    .col-narrow {
      width: 30%;
      float: left;
    }
    .col-wide {
      width: 70%;
      float: left;
      padding-left: 20px;
    }
  }
  @media (max-width: 899px){
    header {
      text-align: center;
    }
    .profile-img {
      width: 200px;
    }
  }
  
  
  